.body {
    background-image: url("../../imagenes/hotel_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.div_img {
    width: 100%;
    height: 80%;
}

.img_banner1 {
    width: 700px;
    height: 400px;
    position: relative;
    background-image: url("../../imagenes/hotel_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img_banner2 {
    width: 644px;
    height: 400px;
    position: relative;
    background-image: url("../../imagenes/hotel_6.jpg");
    background-repeat: no-repeat;
    margin-top: -400px;
    margin-left: 705px;
}

.footer {
    margin-top: 5px;
    height: auto;
}

.login {
    position: absolute;
    float: right;
    z-index: 99;
    margin-top: -250px;
    margin-left: 80%;
}

.registrarse {
    position: absolute;
    float: right;
    z-index: 99;
    margin-top: -170px;
    margin-left: 78.5%;
}