.body {
    background-image: url("../../imagenes/hotel_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner1 {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.footer {
    margin-top: 5px;
}